@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 27%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 27%;
    --primary: 223 70% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 224 71% 4%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    --accent: 218 57% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 348 83% 34%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 223 70% 33%;
    --radius: 0.75rem;
    --chart-1: 223 70% 33%;
    --chart-2: 218 57% 45%;
    --chart-3: 348 83% 34%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 98%;
    --card: 0 0% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 223 70% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 25%;
    --muted-foreground: 0 0% 63%;
    --accent: 218 57% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 348 83% 54%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 223 70% 45%;
    --radius: 0.75rem;
    --chart-1: 223 70% 45%;
    --chart-2: 218 57% 55%;
    --chart-3: 348 83% 54%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
